# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so

# Virtual environment
venv/
env/
ragenv/
.venv/

# VSCode
.vscode/

# PyCharm
.idea/

# Environment variables
.env
.env.*

# OS / Misc
.DS_Store
Thumbs.db

# Qdrant local persistence (if used)
qdrant_storage/
qdrant_data/